<nav class="navbar navbar-expand-md sticky-top flex-column">
    <div class="w-100 d-flex">
        <div class="navbar-header" id="header">
            <img id="logo"
                src="https://media.istockphoto.com/id/1211484412/vector/gen-dna-blue-logo-vector.jpg?s=612x612&w=0&k=20&c=yvFzmvwsvy7E6cJHvVnksQ6DWv4xo4L7vjjtQ8grLWg=">
            <h1 id="application_title">Gene Browser</h2>
        </div>
    </div>

    <div class="navbar-header" id="header">
        <div class="w-100 d-flex">
            <ul class="navbar-nav mr-auto" id="navigation">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.ebi.ac.uk/">EBI <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://www.uniprot.org/">Uniprot <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
</nav>

<!-- <div id="navigation">
    <a class="nav_link" href="/">Home</a> 
    <a class="nav_link" href="https://www.google.com">EBI</a> 
    <a class="nav_link" href="https://www.wp.pl">Uniprot</a> 
</div> -->